@use "./Home/style.scss" as home;
@use "./Customer/style.scss" as customer;
@use "./AddCustomer/style.scss" as addCustomer;
@use "./EditCustomer/style.scss" as editCustomer;
@use "./Products/style.scss" as products;
@use "./AddProduct/style.scss" as addProduct;
@use "./EditProduct/style.scss" as editProduct;
@use "./OderDetails/style.scss" as orderDetail;
@use "./NewOrder/style.scss" as newOrder;
@use "./Wellcome/style.scss" as wellcome;
@use "./Login/style.scss" as login;
@use "../components/Logout/style.scss" as logout;
@use "./Register/style.scss" as register;
@use "../components/Footer/style.scss" as footer;
@use "../components/Button/style.scss" as button;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__nav {
    background: #3733f5;
    background: linear-gradient(
      90deg,
      rgba(55, 51, 245, 1) 0%,
      rgba(98, 98, 227, 1) 50%,
      rgba(0, 212, 255, 1) 100%
    );
    padding: 10px;
    display: flex;
    justify-content: space-around;

    &-link {
      background: none;
      color: white;
      border: none;
      text-decoration: none;
      cursor: pointer;
      padding: 10px 15px;
      font-size: 16px;

      &.active {
        background: #657be9;
        border-radius: 15px;
      }

      &:hover {
        background: #eeaeae;
        background: radial-gradient(
          circle,
          rgba(238, 174, 174, 1) 0%,
          rgba(148, 187, 233, 1) 100%
        );
        border-radius: 15px;
        transition: background-color 0.3s ease, border-radius 0.3s ease;
      }
    }
  }

  &__content {
    padding: 20px;
    flex: 1;
  }
}
